* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-weight: 200;
  font-family: "McLaren", ccursive;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
footer p {
  color: #ccc;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.add-section {
  margin: 20px auto;
  text-align: center;
}

.app-btn {
  cursor: pointer;
  background-color: #f5ba13;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 2px 3px;
}

.app-btn-lg {
  height: 30px;
  padding: 2px 16px;
}

.note-input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 8px 5px;
  background-color: #b3ced38a;
  box-shadow: 0 2px 5px #ccc;
}

.note-content {
  width: 100%;
  resize: vertical;
  border: none;
  border-radius: 5px;
  padding: 8px 5px;
  background-color: #b3ced38a;
  box-shadow: rgb(204 204 204) 0px 2px 5px;
}

.note-input:focus,
.note-content:focus {
  outline: none;
}
